body {
    font-family: Verdana, Arial, Courier, Helvetica, sans-serif;
    font-size: 14px;
}

body#homepage {
    background-color: #0047ab;
}
div#homelink {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    font-size: 48px;
    text-align: center;
    color: lightgray;
}
div#homelink:hover {
    color: black;
    background-color: lightgray;
    border: outset 1px black;
    cursor: pointer;
}
span#homelink {
    position: relative;
    top: 25%;
}
div#header {
    position: absolute;
    display: block;
    margin: auto;
    width: 100%;
    height: 150px;
    text-align: center;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: black 5px 0 10px;
    
}
div#tilepage {
    position: absolute;
    width: 80%;
    margin: auto;
    text-align: center;
    height: 80%;
    left: 10%;
    top: 150px;
}
div#question {
    text-align: center;
    position: relative;
    display: inline-block;
    border: solid 2px #aaa;
    padding: 10px;
    width: 300px;
    vertical-align: center;
    margin-left: 15px;
    height: 125px;

    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;

    background-image: -webkit-gradient(linear, 0 0, 300 150, from(#fff), to(#aaaaaa));

    border-style: outset;
    cursor: pointer;
    color: orangered;
}

div#question:hover {
    border-style: inset;
    background-image: -webkit-gradient(linear, 300 150, 0 0, from(#fff), to(#aaa));
}
h2#question {
    text-shadow: 1px 1px 1px black;
}
h3 {
    color: white;
}
form#salesrepsearch {
    position: relative;
    width: 480px;
    margin: auto;
    margin-top: 200px;
}
input.basicform {
    text-align: center;
    margin-bottom: 24px;
    font-size: 32px;
    width: 480px;
    height: 40px;
    border-radius: 10px;
}
textarea.basicform {
    text-align: left;
    margin-bottom: 24px;
    font-size: 20px;
    width: 480px;
    height: 160px;
    border-radius: 10px;
}
label#basicform {
    position: relative;
    text-align: center;
    width: 480px;
    color: white;
}
button.basicform{
    width: 100px;
    height: 35px;
    position: relative;
    float: right;
    border-color: white;
    background-color: lightgray;
    border-style: outset;
    cursor: pointer;
}
button#salesrepsearch:hover {
    border-style: inset;
}
div#salesrep_output {
    position: absolute;
    width: 100%;
    top: 500px;
    color: white;
    font-size: 24px;
    text-align: center;
}
h3#salesrep_output {
    text-decoration: underline;
}
ul#outputlist {
    list-style: none;
}
li {
    margin-top: 12px;
}
form#socialform {
    position: relative;
    width: 480px;
    margin: auto;
    margin-top: 200px;
}
