body {
    font-family: Verdana, Arial, Courier, Helvetica, sans-serif;
    font-size: 14px;
}

body#homepage {
    background-color: #0047ab;
}

div#header {
    position: absolute;
    display: block;
    margin: auto;
    width: 100%;
    height: 150px;
    text-align: center;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: black 5px 0 10px;
    
}
div#tilepage {
    position: absolute;
    width: 80%;
    margin: auto;
    text-align: center;
    height: 80%;
    left: 10%;
    top: 150px;
}
a#regText {
    text-decoration: none;
    color: white;
}
a#regText:hover {
    color: black;
}

div#question {
    text-align: center;
    position: relative;
    float: left;
    border: solid 2px white;
    padding: 10px;
    width: 300px;
    height: 125px;
    margin-left: 20px;
    margin-top: 15px;

    overflow: hidden;

    cursor: pointer;
    color: white;
}

div#question:hover {
    background-color: white;
    color: black;
    border-color: black;
}
h3 {
    color: white;
}
h3#breakup {
    clear: left;
    margin-top: 50px;
}

form#salesrepsearch {
    position: relative;
    width: 480px;
    margin: auto;
    margin-top: 200px;
}
input.basicform {
    text-align: center;
    margin-bottom: 24px;
    font-size: 32px;
    width: 480px;
    height: 40px;
    border-radius: 10px;
}
span#basicgroup {
    display: block;
    width: 100%;
    margin-right: -100%;
    border-bottom: 1px solid white;
    margin-bottom: 1%;

}
.basicradio {
    float: right;
    cursor: pointer;
    width: 16px;
    height: 16px;
}
textarea.basicform {
    text-align: left;
    margin-bottom: 24px;
    font-size: 20px;
    width: 480px;
    height: 160px;
    border-radius: 10px;
}
label#basicform {
    position: relative;
    text-align: center;
    width: 480px;
    color: white;
}
button.basicform {
    width: 100px;
    height: 35px;
    position: relative;
    float: right;
    border-color: white;
    background-color: lightgray;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
}
button.basicform:focus, button.basicform:hover, button.basicform:active {
    border-style: inset;
    background-color: white;
    color: black;
}
div#salesrep_output {
    position: absolute;
    width: 100%;
    top: 500px;
    color: white;
    font-size: 24px;
    text-align: center;
}
h3#salesrep_output {
    text-decoration: underline;
}
ul#outputlist {
    list-style: none;
}
li {
    margin-top: 12px;
}
form#socialform, form#helpform, form#changeform {
    position: relative;
    width: 480px;
    margin: auto;
    margin-top: 200px;
}
a#basicform_email {
    position: relative;
    display: block;
    width: 100%;
    margin: auto;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 4px;
    text-align: center;
}
a#basicform_email:focus, a#basicform_email:hover, a#basicform_email:active {
    background-color: white;
    color: black;
}
