:root {
	--bck-clr: #f9f9f9;
	--drk-bck-clr: #7F8688;
	
	--text-clr-a: #2b2b2b;
	--text-clr-h: #01BAEF;
	--text-clr-l: #01BAEF;

	--hlight-clr: #3d3d3d;
}

body {
	font-family: Verdana, Arial, Courier, Helvetica, sans-serif;
	font-size: 14px;

	background-color: #7F8688;
	color: #2b2b2b;
	background-color: var(--drk-bck-clr);
}

div#home {
	position: fixed;
	top: 0px;
	left: 2%;
	text-align: center;
}

a {
	text-decoration: underline;
	color: #01BAEF;
	color: var(--text-clr-l);
}

a:hover {
	font-weight: bold;
	text-shadow: #3d3d3d 0px 0px 1px;
	cursor: pointer;
}

form {
	text-align: center;
}

.line {
	padding-bottom: 8px;
	display: block;
}

.left-side {
	float: left;
	position: relative;
	left: 10%;
}

.right-side {
	position: relative;
	float:right;
	right: 10%;
	clear: right;
}

input[type=text] {
	border: 2px solid;
	border-color: #3d3d3d;
	border-color: var(--hlight-clr);
	width: 300px;
}

input[type=submit] {
	position: relative;
	float: right;
	right: 10%;
	text-decoration: none;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 5%;
	
	border-color: #3d3d3d;
	border-color: var(--hlight-clr);
}

input[type=submit]:hover {
	cursor: pointer;
}

textarea {
	position: relative;

	border-color: #3d3d3d;
	border: 2px solid;
	border-color: var(--hlight-clr);
}

div#content {
	position: relative;
	min-height: 100%;
	width: 50%;
	left: 25%;
	top: 0;

	display: inline-block;
	

	text-align: center;
}

div#background {
	position:fixed;
	height: 100%;
	width: 50%;
	left: 25%;
	top: 0;

	border-right: 1px solid #3d3d3d;
	border-left: 1px solid #3d3d3d;

	background-color: #f9f9f9;
	background-color: var(--bck-clr);
}

div#question {
	padding: 4px;
	color: #2b2b2b;
	color: var(--text-clr-a);
	text-decoration: none;
	
}

div#question:hover {
	margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 0;
	margin-right: 0;
	color: #01BAEF;
	color: var(--text-clr-h);
}

.credit {
	position: fixed;
	float: right;
	right: 25px;
	bottom: 25px;
	
	opacity: 0.25;
}

#help-tooltip {
	visibility: hidden;
	color: #2b2b2b;
	color: var(--text-clr-a);
}

.help {
	background-color: #f9f9f9;
	background-color: var(--bck-clr);
	border-color: #3d3d3d;
	border: 1px solid var(--hlight-clr);
	border-radius: 10px;
	position: fixed;
	top: -10px;
	left: 0.5%;
	width: 23%;
	padding: 8px;
}

p#info {
	padding: 12px;
}

